.item_main{
    display: flex;
    justify-content: center;
}
.item_two img{
    height: 100px;
    width: 100px;
    border-radius: 50px;
}
.item_one p {
    width: 422px;
}
.item_two h1{
    font-size: 26px;
    font-weight: 700;
    color: #ffb400;
}
.item_two h2{
    font-size: 20px;
    font-weight: 400;
}
.item_two{
    display: flex;
 
}
.item_two span {
    position: relative;
    top: 20px;
    left: 31px;
}